<md-toolbar>
  <button md-button routerLink="/">
    <md-icon><img alt="代码段" src="/assets/images/logo.png" /></md-icon> 
  </button>

  <div fxLayoutAlign="start">
    <a md-button href="/">首页</a>
    <a md-button routerLink="/tags">标签</a>
  </div>

  <span class="fill-remaining-space"></span>

  <div>
    <a md-button href="/login">登录</a> / <a md-button href="/register">注册</a>
  </div>
</md-toolbar>

<!-- <md-menu x-position="before" #menu="mdMenu">
  <button md-button routerLink="/">首页</button>
  <button md-button routerLink="/tags">标签</button>
</md-menu> -->
