<h4 class="page-header">最新代码</h4>

<section class="pastes">
  <div class="paste" id="paste-{{ paste.hash_id }}" *ngFor="let paste of pastes">
    <div class="media">
      <div class="media-left">
        <!--{{ render_user_avatar(paste.user, size=38) }}-->
      </div>
      <div class="media-body">
        <div class="paste-metas pull-right">
          <a href="#" class="text-muted">
            <!--<span class="fa fa-code"></span>{{ paste.codes | length }}-->
          </a>
          <a href="javascript:;" class="text-muted">
            <!--<span class="fa fa-heart-o"></span>{{ paste.likes_count }}-->
          </a>
          <a href="/pastes/{{ paste.hash_id }}" class="text-muted">
            <span class="fa fa-eye"></span>{{ paste.views }}
          </a>
          <a href="/pastes/{{ paste.hash_id }}#comments" class="text-muted">
            <!--<span class="fa fa-comment"></span>{{ paste.comments_count }}-->
          </a>
        </div>

        <h5 class="media-heading">
          <a href="/pastes/{{ paste.hash_id }}" title="{{ paste.title }}">
            {{ paste.title }}
          </a>
        </h5>

        <p class="text-muted">
          <!--<small>最后更新于 {{ paste.updated_at | time_passed }}</small>-->
        </p>

      </div>

      <!--<p class="paste-tags">
        {% for tag in paste.tags %}
          {{ render_tag(tag) }}
        {% endfor %}
      </p>-->

      <div class="clearfix"></div>

      <div class="code panel panel-default" *ngFor="let code of paste.codes">
        <div class="panel-heading">
          <!--<span class="pull-right">{{ render_tag(code.syntax, style='info') }}</span>-->
          <span>{{ code.title }}</span>
          <a class="btn btn-xs copy-code" data-toggle="tooltip" data-placement="right" title="已复制">复制代码到剪贴板</a>
        </div>
        <div class="panel-body" style="overflow-x: auto;">
            <pre class="hidden"><code>{{ code.content }}</code></pre>
        </div>
      </div>

    </div>
  </div>

  <!--{{ render_pagination(pagination, url_for('site_app.index')) }}-->
</section><!-- .pastes -->
