<div class="card" id="paste-{{ paste.hashId }}" *ngIf="paste">
  <div class="card-body">
    <h4 class="card-title"><a href="/paste/{{ paste.hashId }}" title="{{ paste.title }}">{{ paste.title }}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">
      <small>最后更新于 {{ paste.updated_at }}</small>
    </h6>

    <!--<p class="paste-tags">
      {% for tag in paste.tags %}
        {{ render_tag(tag) }}
      {% endfor %}
    </p>-->

    <!-- <div class="clearfix"></div> -->

    <div class="card mt-3" *ngFor="let code of paste.codes">
      <div class="card-body">
        <!--<span class="pull-right">{{ render_tag(code.syntax, style='info') }}</span>-->
        <h4 class="card-title">{{ code.title }}</h4>
        <!-- <a class="btn btn-xs copy-code" data-toggle="tooltip" data-placement="right" title="已复制">复制代码到剪贴板</a> -->
      </div>
      <!-- <div class="panel-body" style="overflow-x: auto;"> -->
      <div class="container">
        <pre><code>{{ code.content }}</code></pre>
      </div>
      <!-- </div> -->
    </div>

  </div>
</div>
