 <div class="register jumbotron center-block">
   <h1>Register</h1>
   <form role="form" (submit)="register($event, email.value, username.value, password.value)">
   <div class="form-group">
     <label for="email">Email</label>
     <input type="text" #email class="form-control" id="email" placeholder="Email">
   </div>
   <div class="form-group">
     <label for="username">Username</label>
     <input type="text" #username class="form-control" id="username" placeholder="Username">
   </div>
   <div class="form-group">
     <label for="password">Password</label>
     <input type="password" #password class="form-control" id="password" placeholder="Password">
   </div>
   <button type="submit" class="btn btn-default">Submit</button>
     <!--<a [routerLink]="['/signup']">Click here to Signup</a>-->
 </form>
 </div>
 